@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', sans-serif;

}

/* Navigation bar section */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(239, 243, 242);
}

.search-bar-div{
    display: flex;
    justify-content: center;
    height: auto;
    padding: 1vh;
    background-color: rgb(219, 222, 222);
    border-radius: 50px;
}
.search-logo-span{
    height: auto;
    width: 33px;
    
    position: relative;
}

.search-logo-span img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    height: 14px;
    width: 14x;
    object-fit: contain;
}

.search-bar{
    height: 33px;
    border: none;
    width: 75%;
    padding: 7px;
    background-color: transparent;
    font-family: 'Roboto', 'Sans-serif';
}
.search-bar:focus{
    outline: none;
}

.logo img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.items ul li{
    display: inline-block;
    justify-content: space-around;
    font-size: 2vw;
    padding: 10px;
    color: #C84B31;
    font-weight: bold;
}

li:after{
    content: '';
    margin: auto;
    display: block;
    height: 2px;
    width: 0%;
    transition: all 0.5s ease;
    background-color: transparent;
}

li:hover:after{
    width: 100%;
    background-color: teal;
}


form {
    display: block;
    margin-top: 0em;
}
:after, :before {
    box-sizing: border-box;
}
/* #09b565  */
/* #C84B31 */
.logbtn {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    color: teal;
    width: 15%;

}
.login {
    padding: 10px;
    width: 7vw;
    color: white;
    border: .5px solid white;
    background: teal;
    border-radius: 5px;
    cursor: pointer;

}
.register {
    padding: 10px;
    width: 7vw;
    color: white;
    border: .5px solid white;
    background: teal;
    border-radius: 5px;
    cursor: pointer;
}
/* .login:hover {
    background-color: teal;
    color: white;
    transition: opacity 1s ease-in-out;
} */
.register:hover, .login:hover {
   background: rgb(2, 98, 117);
   color: white;
   transition: opacity 1s ease-in-out;
}

.login:active,.register:active{
    background-color: rgb(1, 68, 81);
    transition: opacity 1s ease-in-out;
}
/* End of navigation bar section */

/* Welcome text section with image on the right */

.slogan {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('./house2.jpg');
    background-size: 2500px 2500px;
    background-position: middle;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.finder {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center ;
    align-items: flex-start;
}

.guyshome{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.guyshome img {
    background-size: cover;
    height: auto;
    width: 100%;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.finder h1 {
    color: rgb(1, 69, 82);
    font-size: 4vw;
}
.finder p {
    color: #C84B31;
    height: 10vh;
    width: 100%;
    font-size: 17px;
    font-weight: 800;
    margin-top: 4px;
    padding: 5px;
    
}
.finder button{
    display: block;
    padding: 5px;
    font-size: 20px;
    width: 30%;
    height: auto;
    border: .5px solid teal;
    background: teal;
    border-radius: 5px;
    margin-top: 40px;
    align-self: flex-start;
    color: white;
    transition: opacity 1s ease-in-out;
    margin-bottom: 10px;
}


.finder button:hover{
    background-color: rgb(2, 98, 117);
    color: white;
    cursor: pointer;
}

.search-container {
    background-color: rgb(239, 243, 242);;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
  }
  
  label {
    margin-right: 10px;
  }
  
  select, input {
    margin-right: 10px;
    padding: 5px;
  }
  
  button {
    background-color: teal;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgb(2, 98, 117);;
  }
  button:active{
    background-color: rgb(1, 68, 81);;
  }
/* End of welcome text section */

/* Newly listed apartments section */

.apartment {
    height: auto;
    width: 100%;
}

.apt-img{
    padding: 5vh;
    text-align: center;
}
.titlenew {
    padding: 20px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;

}
.titlenew p {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.titlenew h1 {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.list1 {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: auto;
    width: 25%;
    background: #e8ecee;
    margin-top: 10px;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}

.list1:hover {
  border-radius: 20px;
  box-shadow: 0 25px 45px rgba(0,0,0,0.5);
  transition: opacity 0.9s ease-in-out;
}

.list1 img {
    height: 40vh;
    width: 40vh;
}

.list1 h3 {
    font-size: 13px;
    margin: 10px;
    
}
.list1 ul li{
    font-size: 13px;
    margin-left: 40px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.price p {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Roboto';
    margin: 5px;
}
.booknow {
    padding: 5px;
    width: 7vw;
    margin: 8px;
    border: .5px solid teal;
    background: teal;
    border-radius: 5px;
    align-self: flex-start;
    color: white;
    cursor: pointer;

}
.booknow:hover {
    background: rgb(1, 69, 82);
    box-shadow: 0 25px 45px rgba(0,0,0,0.5);
    transition: opacity 0.9s ease-in-out;
}
.second {
    margin-top: 30px;
    padding: 8px;
}
.aptlist {
    /*  margin-left: 30px;
     margin-right: 30px; */
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     /* align-items: center; */
     flex-wrap: wrap;
     
 }
 
 .apt-details{
    padding: 5vh;
    display: block;
    justify-content: center;
 }

 .price{
    align-items: center;
 }
/* Our services section */

.services {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
.servicestext {
    align-items: center;
    text-align: center;
}

.collabo {
    display: flex;
    flex-direction: row;
   /*  height: 50vh;
    width: 100%; */
    justify-content: space-around;
    margin-top: 40px;

    align-items: center;
    background: rgb(255, 255, 255);

}

.house {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.house img {
    height: 100px;
    width: 100px;
}


/* About us section styling starts here */

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
    padding: 50px;
    height: auto;
    width: 100%;
    background-image:url('./buy5.jpeg');
    background-size:1400vh;
    object-position: center;
    /* background: #e9ecee; */
}
.combinedimages {
    margin-left: 50px;
}
.aboutus h3 {
    text-align: center;
    color: teal;
}
.aboutus p{
    padding: 10px;

    }
.aboutus h1 {
    color: #C84B31;
    text-align: center;
}
.aboutus p {
    padding: 10px;
    color: black;
    font-weight: bold;
    word-spacing: 5px;
    text-align: justify;
    margin-right: 20px;
    margin-left: 50px;
    line-height: 30px;
}

/* Reviews section styling */
.industry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: black;
    height: auto;
    margin-top: 70px;
}

.industry .ind {
    text-align: center;
    padding: 30px;
}
.industry .ind h2 {
    font-size: 25px;
    padding: 20px;
}
.industry .ind p {
    padding: 5px;
}

.slate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
} 
.slate .part1 {
    height: auto;
    width: 20%;
    padding: 30px;
    border: 1px solid rgb(207, 199, 199);
    border-radius: 5px;
    text-align: center;
    font-size: 10pt;
}

.slate .part1 p {
    margin-top: 20px;
}
.slate .part1 .star {
    max-height: 30px;
    width: auto;
    margin-top: 20px;
}


.slate .part2 {
    height: auto;
    width: 20%;
    padding: 30px;
    border: 1px solid rgb(207, 199, 199);
    border-radius: 5px;
    text-align: center;
    font-size: 10pt;
}

.slate .part2 p {
    margin-top: 20px;
}
.slate .part2 .star {
    max-height: 30px;
    width: auto;
    margin-top: 20px;
}


.slate .part3 {
    height: auto;
    width: 20%;
    padding: 30px;
    border: 1px solid rgb(207, 199, 199);
    border-radius: 5px;
    text-align: center;
    font-size: 10pt;
}

.slate .part3 p {
    margin-top: 20px;
}
.slate .part3 .star {
    max-height: 30px;
    width: auto;
    margin-top: 20px;
}
.pic1 {
    height: 180px;
    width: 180px;
    padding: 5px;
    border-radius: 100px;

}

.industry .vectors ul li {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;


}
.industry .vectors ul li img {
    max-height: 90px;
    width: auto;
    padding: 30px;
    margin-top: 130px;
}

.callus {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    color: black;
    margin-top: 100px;
}

.callus .call h3 {
    padding: 10px;
    font-size: 20pt;
    font-stretch: expanded;
    font-weight: 900;

}
.callus .call p {
    font-size: 9pt;
    font-stretch: expanded;
    margin-left: 10px;
    color: grey;
}
.callus .click button {
    border: none;
    text-decoration: none;
    height: 7vh;
    width: 12vw;
    color: #ffffff;
    background: teal;
    cursor: pointer;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 1px;
    padding: 5px;
}

.callus .click button:hover{
    background-color: rgb(1, 69, 82);
}

.callus .click button:active{
    background-color: rgb(1, 68, 81);
}
@media screen and (max-width: 600px){
    button{
        font-size: 5px;
    }
    .logo{
        width: 30%;
        height: auto;
        padding: 10px;
    }
    .logo img{
        object-fit: contain;
    }

    .guyshome img{
        width: 70%;
    }

    .login, .register{
        width: 100%;
        font-size: 8px;
    }

    .finder button{
        display: flex;
        justify-content: center;
    }
    .list1 {
        height: auto;
        width: 80%; 
    }
    .servicestext{
        padding: 10vh;
    }

    .finder{
        width: 80%;
    }
    .slogan{
        justify-content: center;
        align-items: center;
    }
    
    .about{
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-size: 2000vh;
        background-position: left;
    }

    .aboutus{
        align-items: center;
    }
    .aboutus p{
        width: 150%;
    }

    .aboutus h1{
        width: 150%;
        text-align: center;
    }

    .aboutus h3{
        width: 150%;
    }
    .collabo{
        width: 80%;
        display: flex;
        align-items: center;
    }
    .slate{
        flex-direction: column;
        width: 100%;
        padding-right: 5px;
        align-items: center;
    }

    .slate .part1{
        width: 50%;
        margin-bottom: 20px;
    }

    .slate .part2{
        width: 50%;
        margin-bottom: 20px;
    }

    .slate .part3{
        width: 50%;
        margin-bottom: 20px;
    }
}
